<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
    </form>
</body>
</html>