<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Document</title>
</head>
<body>
    <form action="register.ejs" method="POST">
        <label for="name">Name1</label>
        <input type="text" name="name" class="form-control">
        <label for="password">Password2</label>
        <input type="password" name="password" class="form-control">
    </form>
</body>
</html>