<section>
  <div class="position-relative opacity-75">
    <img class="img-fluid" src="img/fondo-banner.jpg" alt="Manos tecleando" style="height: 40rem; width: 100%;">
    <h5 class="position-absolute top-50 start-50 translate-middle texto-banner">FORMULARIOS WEB</h5>
  </div>
</section>