<section class="container my-5">
  <div class="d-flex align-items-center">
    <div class="text-center">
      <img src="img/fondo-mascara.jpg" class="img-fluid rounded-circle w-75" alt="...">
    </div>
    <div class="flex-grow-1 ms-5 text-center">
      <div class="display-4 mb-3">Lúcete y crea FORMULARIOS impactantes...</div>
      <a href="/forms" class="btn btn-crear">CREAR</a>
    </div>
  </div>
</section>