<nav class="navbar navbar-expand-lg background-color-header p-0">
    <div class="container-fluid mx-5">
        <a href="#">
            <img src="img/logo.png" alt="Logo Valida.me" class="w-25">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-color">
                <a class="nav-background-color py-3 px-3" href="#">Inicio</a>
                <a class="nav-background-color py-3 px-3" href="#">Formularios</a>
                <a class="nav-background-color py-3 px-3" href="#">Contacto</a>
                <a class="nav-background-color py-3 px-3" href="#">FAQ</a>
                <a href="#">
                    <img src="img/" alt="Icon Login / Register">
                </a>
            </div>
      </div>
    </div>
</nav>

<section class="my-5">
    <div class="row">

      <div class="col-md-4 mb-md-0 mb-5">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-2"></div>
          <div class="col-lg-10 col-md-9 col-10">
            <img src="img/logo.png" class="img-circle" alt="Logo Valida.me" width="304" height="236">
            <h4 class="font-weight-bold text-center">Accesible</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-md-0 mb-5">
        <div class="row">
          <!-- Espacio en blanco -->
          <div class="col-lg-2 col-md-3 col-2"></div>
          <div class="col-lg-10 col-md-9 col-10">
            <img src="img/logo.png" class="img-circle" alt="Logo Valida.me" width="304" height="236">
            <h4 class="font-weight-bold text-center">Dinámico</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-2"></div>
          <div class="col-lg-10 col-md-9 col-10">
            <img src="img/logo.png" class="img-circle" alt="Logo Valida.me" width="304" height="236">
            <h4 class="font-weight-bold text-center">Seguro</h4>
          </div>
        </div>
      </div>
    </div>
</section>

<footer class="text-center">@ 2022 Copyright <a href="" class="enlaceFooter">Avisa.me</a></footer>