<nav class="navbar navbar-expand-lg background-color p-0">
    <div class="container-fluid mx-5 my-2">
        <div>
            <a href="/">
                <img src="/img/logo.png" alt="Logo Valida.me" class="w-25">
            </a>
        </div>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-color mr-3">
                <a class="nav-background-color py-2 px-3" href="/">Inicio</a>
                <% if (user) { %>
                    <a class="nav-background-color py-2 px-3" href="/forms">Formularios</a>
                <% } %>
                <a class="nav-background-color py-2 px-3" href="#">Contacto</a>
                <a class="nav-background-color py-2 px-3" href="#">FAQ</a>
                <% if (!user) { %>
                    <a class="nav-background-color py-2 px-3" href="/login">Iniciar Sesión</a>
                    <a class="nav-background-color py-2 px-3" href="/register">Registrarse</a>
                <% } %>
                <% if (user) { %>
                    <div class="px-2"></div>
                    <a class="nav-login" href="#">
                        <img src="<%= user.profilePhoto %>" alt="Icon Login / Register" class="w-50">
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>