<div class="background-color">
    <h1 class="pt-5 d-flex justify-content-center title-team-color">Team Workers</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide mx-5 background-color" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <div class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center">
    
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
    
          </div>
          <div class="carousel-item">
    
            <div class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center">
    
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
    
          </div>
          <div class="carousel-item">
    
            <div class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center">
    
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/usu.png" class="card-img-top w-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">El Pepe</h5>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
    
          </div>
        </div>
    </div>
</div>
