gi<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
  <title>Valida.me</title>
</head>

<body>
  <%- include('partials/header.ejs') %>
<section>
  <div class="content">
    <img class="imgBanner" src="img/fondo-banner.jpg" alt="Manos tecleando">
  </div>
</section>  
<section class="my-5">
  <div class="row">

    <div class="col-md-4 mb-md-0 mb-5">
      <div class="row">
        <div class="imgSection">
          <img src="img/logo.png" class="img-circle img-fluid" alt="Logo Valida.me" width="304" height="236">
          <h4 class="font-weight-bold text-center">Accesible</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-5">
      <div class="row">
        <div class="imgSection">
          <img src="img/logo.png" class="img-circle img-fluid" alt="Logo Valida.me" width="304" height="236">
          <h4 class="font-weight-bold text-center">Dinámico</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="imgSection">
          <img src="img/logo.png" class="img-circle img-fluid" alt="Logo Valida.me" width="304" height="236">
          <h4 class="font-weight-bold text-center">Seguro</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>

</body>

</html>