<!DOCTYPE html>
<html lang="en" class="position-relative">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <!-- Mensaje de feedback -->
    <% if (success.length > 0) { %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
        />
      </symbol>
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
    </svg>

    <div
      class="alert alert-success d-flex align-items-center mb-0"
      role="alert"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Success:"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <div><%= success %></div>
    </div>
    <% } %>

    <!-- BANNER -->
    <section>
      <div class="position-relative opacity-75">
        <img
          class="img-fluid"
          src="img/fondo-banner.jpg"
          alt="Manos tecleando"
          style="height: 40rem; width: 100%"
        />
        <h5
          class="position-absolute top-50 start-50 translate-middle texto-banner display-3 fw-bold"
        >
          FORMULARIOS WEB
        </h5>
      </div>
    </section>

    <!-- CREAR FORMULARIO -->
    <section class="container my-5">
      <div class="d-flex align-items-center">
        <div class="text-center">
          <img
            src="img/fondo-mascara.jpg"
            class="img-fluid rounded-circle w-75"
            alt="..."
          />
        </div>
        <div class="flex-grow-1 ms-5 text-center">
          <div class="display-5 mb-3">
            Lúcete y crea FORMULARIOS impactantes...
          </div>
          <a href="/forms" id="boton-form" class="btn btn-crear">CREAR</a>
        </div>
      </div>
    </section>

    <div class="py-3 barra-separacion"></div>

    <!-- CÍRCULOS -->
    <section class="my-5">
      <div class="row mx-5">
        <div class="col-md-4 px-0">
          <div class="imgSection">
            <div class="fondoImg"></div>
            <img
              src="img/mano.png"
              class="img-circle img-fluid"
              alt="Logo Valida.me"
            />
          </div>
          <h4 class="font-weight-bold text-center mt-3">Accesible</h4>
        </div>

        <div class="col-md-4 px-0">
          <div class="imgSection">
            <div class="fondoImg"></div>
            <img
              src="img/enlace.png"
              class="img-circle img-fluid"
              alt="Logo Valida.me"
            />
          </div>
          <h4 class="font-weight-bold text-center mt-3">Dinámico</h4>
        </div>

        <div class="col-md-4 px-0">
          <div class="imgSection">
            <div class="fondoImg"></div>
            <img
              src="img/candado.png"
              class="img-circle img-fluid"
              alt="Logo Valida.me"
            />
          </div>
          <h4 class="font-weight-bold text-center mt-3">Seguro</h4>
        </div>
      </div>
    </section>

    <div class="py-3 barra-separacion"></div>

    <!-- TEAM -->
    <div class="background-color mb-4">
      <h1 class="pt-5 d-flex justify-content-center title-team-color">
        Team Workers
      </h1>
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide mx-5 background-color"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div
              class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center"
            >
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center"
            >
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="row row-cols-1 row-cols-md-5 g-3 py-5 d-flex justify-content-center"
            >
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="card h-100">
                    <img
                      src="img/usu.png"
                      class="card-img-top w-50"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">El Pepe</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
