<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
    <title>Valida.me</title>
</head>

<body>
  <%- include('partials/header.ejs') %>
    <section>
      <div class="content carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 img-fluid" src="img/fondo-banner.jpg" alt="Manos tecleando">
          <div class="carousel-caption d-none d-md-block shadow">
            <h5 class="text-center textoBanner">FORMULARIOS WEB</h5>
          </div>
        </div>
      </div>
    </section>
    
    <section class="container my-5">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/fondo-mascara.jpg" class="rounded-start img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <p class="card-text">Lúcete y crea FORMULARIOS impactantes...</p>
            <a href="#" class="btn btn-crear">CREAR</a>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5">
      <div class="row">

        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div>
              <div class="imgSection">
                <div class="fondoImg"></div>
                <img src="img/mano.png" class="img-circle img-fluid" alt="Logo Valida.me">
              </div>
              <h4 class="font-weight-bold text-center">Accesible</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div>
              <div class="imgSection">
                <div class="fondoImg"></div>
                <img src="img/enlace.png" class="img-circle img-fluid" alt="Logo Valida.me">
              </div>
              <h4 class="font-weight-bold text-center">Dinámico</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div>
              <div class="imgSection">
                <div class="fondoImg"></div>
                <img src="img/candado.png" class="img-circle img-fluid" alt="Logo Valida.me">
              </div>
              <h4 class="font-weight-bold text-center">Seguro</h4>
            </div>

          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>

</body>

</html>