<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Valida.me</title>
  </head>
  <body>
    <div class="m-3">
      <h1>Landing page</h1>

      <% if (!user) { %>
      <a class="link-primary" href="/login">Login</a>
      <a class="link-primary" href="/register">Register</a>
      <% } else { %>
      <a class="link-primary" href="/logout">Logout</a>
      <% } %>
    </div>

    <main class="container mx-auto my-2">
      <% if (user) { %>
      <div class="">
        <img
          src="<%= user.profilePhoto %>"
          alt=""
          referrerpolicy="no-referrer"
          class="rounded-circle"
        />
        <h2 class="h2">Hola, <%= `${user.firstName} ${user.lastName}` %></h2>
        <h3 class="h3">Correo electrónico: <%= user.email %></h3>
      </div>
      <% } %>
    </main>
  </body>
</html>
