:root {
  --gris-claro: #d2d2d2;
  --gris-oscuro: #394656;
  --blanco: #ffffff;
  --azul: #00afe3;
}

.background-color-header {
  background-color: var(--gris-oscuro);
}

.nav-color {
  color: var(--blanco);
}

.nav-color a {
  color: var(--blanco);
  text-decoration: none;
}

.nav-background-color:hover {
  background-color: var(--azul);
}

.nav-login {
  text-align: center;
  height: 30px;
  width: 30px;
  background: var(--blanco);
  border-radius: 50px;
}

footer a {
  color: var(--blanco);
  text-decoration: none;
}

footer {
  color: var(--gris-claro);
  background-color: var(--azul);
}

.textoBanner {
  color: var(--blanco);
  font-size: 50px;
}

.btn-crear {
  background-color: var(--azul);
  color: var(--gris-claro);
  font-weight: 700;
}

.fondoImg {
  background-color: var(--gris-oscuro);
}

.imgSection {
  position: relative;
  height: 200px;
}

.fondoImg {
  position: absolute;
  left: 25%;
  height: 100%;
  width: 50%;
  border-radius: 100%;
}
.imgSection img {
  position: absolute;
  width: 20%;
  height: 40%;
  left: 40%;
  top: 30%;
}
