<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container mx-auto main my-2">
      <h2 class="h2 text-center">Recurso no encontrado.</h2>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
