:root {
  --gris-claro: #d2d2d2;
  --gris-oscuro: #394656;
  --blanco: #ffffff;
  --azul: #00afe3;
}

.background-color-header {
  background-color: var(--gris-oscuro);
}

.nav-color {
  color: var(--blanco);
}

.nav-color a {
  color: var(--blanco);
  text-decoration: none;
}

.nav-background-color:hover {
  background-color: var(--azul);
}

footer a {
  color: var(--blanco);
}

footer {
  color: var(--gris-claro);
  background-color: var(--azul);
}
