<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Formulario de Altia</title>
</head>

<body>
  <div class="container mx-auto my-4">
    <form action="" method="post" class="needs-validation" novalidate>
      <%- form.html %>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</body>

</html>