<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
  <title>Drag & Drop</title>
</head>

<body>
  <main class="container mx-auto my-3">
    <div class="d-flex gap-3">
      <div id="drop-on-me-babe" class="col-8 border border-1 border-primary rounded p-3"></div>
      <div id="drag-from-me-babe" class="col border border-1 border-primary rounded p-3">
        <div class="mb-3" id="name" name="name">
          <label class="fw-bold form-label" name="name">Nombre</label>
          <input type="text" name="name" class="form-control" />
        </div>

        <div class="mb-3" id="tel" name="tel">
          <label class="fw-bold form-label" name="tel">Teléfono</label>
          <input type="tel" name="tel" class="form-control" />
        </div>

        <div class="mb-3" id="email" name="email">
          <label class="fw-bold form-label" name="email">Email</label>
          <input type="email" name="email" class="form-control" />
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div id="html-form-code" class="form-control my-3 border border-1 border-primary rounded overflow-auto" style="height: 350px; display: none;"></div>
    </div>

    <div id="alert-placeholder"></div>

    <button id="boton-form" class="btn btn-primary disabled">Crear formulario</button>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  <script src="script.js"></script>
</body>

</html>