<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head.ejs') %>
 <title>Document</title>
</head>

<body>

  <table id="table" data-toggle="table" data-show-export="true"
    data-url="http://localhost:3000/forms/responses/<%= id %>/data">
    <thead>
      <tr>
       
       <th data-field="values" data-formatter="responseFormatter">valor</th>
      
       <th data-field="_id" data-formatter="responseFormatter">ID</th>
        
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script>
   function responseFormatter(value,row){
    console.dir(value[1].value)
    let result = [];
    for( let i = 0; i<=value.length;i++){
      result.push(value[i]?.value)
    }
    return result
   }
  </script>
</body>
</html>